# Keep this file in alphabetic order please!

*~
.*.swp
*.agdai
*.agda.el
.DS_Store
*.lagda.el
*.hi
*.o
*.tix
*.vim
dist
dist-newstyle
Everything.agda
EverythingSafe.agda
EverythingSafeGuardedness.agda
EverythingSafeSizedTypes.agda
html
