# Keep this file in alphabetic order please!
# Sort with the command `sort -uf`
*.agda.el
*.agdai
*.hi
*.lagda.el
*.o
.stack-work
*.svg
*.tix
*.vim
*~
.*.swp
./_build/*
.DS_Store
dist
dist-newstyle
Everything.agda
EverythingSafe.agda
EverythingSafeGuardedness.agda
EverythingSafeSizedTypes.agda
GenerateEverything
Haskell
html
MAlonzo
